[submodule "src/eqlib"]
	path = src/eqlib
	url = git@github.com/Cezero/eqlib.git
	branch = cz_truebox
[submodule "contrib/vcpkg"]
	path = contrib/vcpkg
	url = https://github.com/macroquest/vcpkg.git
	branch = macroquest
[submodule "data/lua/IntegrationTests"]
	path = src/plugins/lua/lua/IntegrationTests
	url = https://github.com/macroquest/integration-tests.git
